In [22]:
import pandas as pd

In [23]:
# Load the data
df = pd.read_csv('./models/data/population_cleaned.csv')

In [24]:
df

,Description,1970,1980,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,3444354,3894025,4451497,4463343,4471462,4489876,4510588,4542912,4594911,...,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4921532
1,Alaska,302583,401851,627748,633538,641974,647671,659305,667114,675322,...,722349,730810,737626,737075,738430,742575,740983,736624,733603,731158
2,Arizona,1775399,2716546,5166304,5303869,5451472,5590820,5758692,5973970,6190987,...,6473416,6556344,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7421401
3,Arkansas,1923322,2286358,2678115,2690743,2704471,2722804,2746215,2776257,2814910,...,2941038,2952876,2960459,2968759,2979732,2991815,3003855,3012161,3020985,3030522
4,California,19971071,23667764,33994383,34481753,34867773,35236589,35538256,35770688,35947461,...,37636311,37944551,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39368078
5,Colorado,2209596,2889735,4328277,4432779,4502883,4545766,4595674,4655731,4747872,...,5121900,5193660,5270774,5352637,5454328,5543844,5617421,5697155,5758486,5807719
6,Connecticut,3032217,3107564,3411506,3428043,3448145,3468319,3474379,3477185,3484531,...,3588632,3595211,3595792,3595697,3588561,3579830,3575324,3574561,3566022,3557006
7,Delaware,548104,594338,786417,794954,804636,815525,827154,840296,853301,...,907590,915518,924062,933131,942065,949989,957942,966985,976668,986809
8,Florida,6791418,9746959,16046148,16350988,16675166,16974177,17366358,17773291,18076361,...,19055607,19302016,19551678,19853880,20219111,20627237,20977089,21254926,21492056,21733312
9,Georgia,4587930,5462989,8230306,8418687,8582756,8727810,8907292,9090479,9323575,...,9803630,9903580,9975592,10071204,10183353,10308442,10417031,10519389,10628020,10710017
10,Hawaii,769913,964691,1212396,1218790,1226410,1231632,1246872,1259147,1269228,...,1379562,1395199,1408822,1415335,1422999,1428885,1425763,1423102,1415615,1407006
11,Idaho,713015,944127,1299555,1320791,1341704,1363672,1391127,1425226,1463631,...,1584272,1595910,1612053,1632248,1652495,1684036,1719745,1752074,1789060,1826913
12,Illinois,11110288,11427429,12437568,12506636,12557032,12599246,12644218,12672835,12714588,...,12867783,12883029,12895778,12885092,12859585,12821709,12779893,12724685,12667017,12587530
13,Indiana,5195392,5490210,6091517,6124090,6148648,6184552,6214844,6253142,6300341,...,6517250,6538989,6570575,6596019,6611442,6637898,6662068,6698481,6731010,6754953
14,Iowa,2825368,2913808,2928191,2929240,2929379,2934585,2942311,2950517,2965203,...,3066772,3076844,3093935,3110643,3122541,3133210,3143734,3149900,3159596,3163561
15,Kansas,2249071,2364236,2692907,2701167,2711741,2720361,2729378,2739997,2754018,...,2869677,2886024,2894306,2901861,2910717,2912977,2910892,2912748,2912635,2913805
16,Kentucky,3220711,3660334,4048714,4068775,4090824,4117691,4145777,4179655,4216783,...,4370817,4387865,4406906,4416992,4429126,4440306,4455590,4464273,4472345,4477251
17,Louisiana,3644637,4206124,4468970,4460400,4465089,4473198,4487246,4495113,4237693,...,4576244,4602067,4626040,4645938,4666998,4681346,4673673,4664450,4658285,4645318
18,Maine,993722,1125043,1277040,1284295,1293181,1302365,1307227,1310424,1313479,...,1328473,1328094,1328543,1331217,1329098,1332348,1335743,1340123,1345770,1350141
19,Maryland,3923897,4216933,5310504,5374009,5437880,5491971,5537913,5576889,5605552,...,5840241,5888375,5925197,5960064,5988528,6007014,6028186,6042153,6054954,6055802
20,Massachusetts,5689170,5737093,6362498,6411336,6440762,6455028,6452636,6453694,6466069,...,6614218,6664269,6715158,6764864,6797484,6827280,6863560,6885720,6894883,6893574
21,Michigan,8881826,9262044,9954984,10005334,10039223,10072219,10091511,10092426,10082414,...,9883053,9898289,9914802,9932033,9934483,9954117,9976752,9987286,9984795,9966555
22,Minnesota,3806103,4075970,4933739,4982180,5017355,5050393,5080031,5106992,5147857,...,5346620,5377500,5414722,5452665,5484002,5525360,5569283,5608762,5640053,5657342
23,Mississippi,2216994,2520770,2848433,2853090,2858076,2866386,2884920,2899300,2896691,...,2979147,2984599,2989839,2991892,2990231,2990595,2990674,2982879,2978227,2966786
24,Missouri,4677623,4916766,5605714,5642852,5679158,5713051,5755931,5803587,5857974,...,6011182,6026027,6042989,6059130,6075411,6091384,6111382,6125986,6140475,6151548
25,Montana,694409,786690,903305,905782,909722,916620,925711,934656,946059,...,997518,1004168,1014158,1022657,1031495,1042137,1053862,1061818,1070123,1080577
26,Nebraska,1485333,1569825,1713279,1717672,1724577,1733099,1741417,1750772,1759327,...,1840914,1853691,1865813,1879955,1892059,1906483,1916998,1925512,1932571,1937552
27,Nevada,488738,800508,2018196,2094338,2165828,2236378,2327547,2407073,2491122,...,2713114,2744670,2776956,2818935,2868531,2919555,2972097,3030725,3090771,3138259
28,New Hampshire,737681,920610,1240385,1256685,1270962,1282146,1292566,1301050,1311184,...,1320444,1324677,1327272,1334257,1337480,1343694,1350395,1355064,1360783,1366275
29,New Jersey,7171112,7365011,8430799,8488427,8543281,8585567,8610474,8619564,8619354,...,8828552,8845671,8857821,8867277,8870312,8873584,8888147,8891730,8891258,8882371
30,New Mexico,1017055,1303303,1820802,1828437,1849187,1868121,1890215,1914699,1940631,...,2080707,2087715,2092833,2090236,2090071,2092555,2092844,2093754,2099634,2106319
31,New York,18241391,17558165,18996959,19087486,19161568,19235015,19297907,19329398,19353588,...,19499921,19574362,19626488,19653431,19657321,19636391,19593849,19544098,19463131,19336776
32,North Carolina,5084411,5880096,8080253,8202468,8311105,8399815,8517909,8655414,8853849,...,9658913,9751810,9846717,9937295,10037218,10161802,10275758,10391358,10501384,10600823
33,North Dakota,617792,652717,641298,636225,633210,631680,635480,634528,636019,...,685526,702227,723149,738736,755537,756114,756755,760062,763724,765309
34,Ohio,10657423,10797604,11363136,11395572,11420660,11450398,11465854,11475559,11490596,...,11545735,11550971,11579692,11606573,11622315,11640060,11665706,11680892,11696507,11693217
35,Oklahoma,2559463,3025487,3453891,3463996,3483149,3495502,3511467,3530037,3571612,...,3788824,3819320,3853891,3879187,3910518,3928143,3933602,3943488,3960676,3980783
36,Oregon,2091533,2633156,3430739,3469878,3516661,3551290,3573214,3617086,3675743,...,3872672,3900102,3924110,3965447,4018542,4093271,4147294,4183538,4216116,4241507
37,Pennsylvania,11800766,11864720,12283881,12296977,12324237,12360988,12387357,12415908,12466485,...,12747052,12769123,12779538,12792392,12789838,12788468,12794679,12809107,12798883,12783254
38,Rhode Island,949722,947154,1050607,1057707,1066919,1072453,1075835,1069226,1064193,...,1053829,1054893,1055560,1056511,1056886,1057816,1056554,1059338,1058158,1057125
39,South Carolina,2590713,3120737,4024082,4062301,4102227,4141080,4196549,4250989,4334146,...,4672655,4719027,4766469,4826858,4896006,4963031,5027102,5091702,5157702,5218040
40,South Dakota,666257,690768,755707,758803,761633,765980,773087,778775,786973,...,823740,833859,842751,849670,854663,863693,873732,879386,887127,892717
41,Tennessee,3926018,4591023,5703129,5754748,5802304,5856712,5918897,5997481,6090290,...,6400298,6455752,6496943,6544617,6595354,6651277,6714748,6778180,6830325,6886834
42,Texas,11198657,14225512,20944937,21330190,21705766,22048452,22408514,22790696,23356591,...,25645504,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29360759
43,Utah,1059273,1461037,2244207,2290966,2334425,2378255,2438195,2498863,2582234,...,2814797,2854146,2898773,2938327,2983626,3044241,3103540,3155153,3203383,3249879
44,Vermont,444732,511456,609658,611889,614753,616700,618120,618797,619916,...,627197,626361,626603,625693,625810,624366,625132,624802,624046,623347
45,Virginia,4651448,5346797,7105425,7191579,7277452,7352164,7453994,7547753,7633859,...,8102437,8187456,8255861,8315430,8367303,8417651,8471011,8510920,8556642,8590563
46,Washington,3413244,4132353,5911439,5988346,6056348,6108738,6181646,6258988,6371097,...,6827479,6898599,6966252,7057531,7167287,7299961,7427951,7526793,7614024,7693612
47,West Virginia,1744237,1950183,1806694,1798190,1799219,1802916,1803462,1804128,1808136,...,1856606,1857446,1854768,1850569,1843332,1832435,1818683,1805953,1795263,1784787
48,Wisconsin,4417821,4705642,5373849,5408099,5446571,5479542,5512205,5542096,5571510,...,5705840,5720825,5738012,5753199,5762927,5775170,5793147,5809319,5824581,5832655
49,Wyoming,332416,469557,493980,492976,496930,498865,502742,506002,512664,...,567491,576656,582620,583159,586389,585243,579994,579054,580116,582328

In [25]:
# find the average population for all states for all years in the dataset
# make year a column and change "Description" to "state_name"
population = df.melt(id_vars='Description', var_name='year', value_name='population')
population = population.rename(columns={'Description': 'state_name'})
population['year'] = population['year'].astype(int)
population

         state_name  year  population
0           Alabama  1970     3444354
1            Alaska  1970      302583
2           Arizona  1970     1775399
3          Arkansas  1970     1923322
4        California  1970    19971071
...             ...   ...         ...
1145       Virginia  2020     8590563
1146     Washington  2020     7693612
1147  West Virginia  2020     1784787
1148      Wisconsin  2020     5832655
1149        Wyoming  2020      582328

[1150 rows x 3 columns]

In [26]:
# remove all the years less than 2000
population = population[population['year'] >= 2000]
population

         state_name  year  population
100         Alabama  2000     4451497
101          Alaska  2000      627748
102         Arizona  2000     5166304
103        Arkansas  2000     2678115
104      California  2000    33994383
...             ...   ...         ...
1145       Virginia  2020     8590563
1146     Washington  2020     7693612
1147  West Virginia  2020     1784787
1148      Wisconsin  2020     5832655
1149        Wyoming  2020      582328

[1050 rows x 3 columns]

In [27]:
# find the average population for all states for all years in the dataset
average_population = population.groupby('state_name')['population'].mean().reset_index()
average_population

        state_name    population
0          Alabama  4.711328e+06
1           Alaska  6.989525e+05
2          Arizona  6.399572e+06
3         Arkansas  2.881607e+06
4       California  3.718208e+07
5         Colorado  5.069310e+06
6      Connecticut  3.528261e+06
7         Delaware  8.909010e+05
8          Florida  1.892180e+07
9          Georgia  9.644947e+06
10          Hawaii  1.332802e+06
11           Idaho  1.552118e+06
12        Illinois  1.273573e+07
13         Indiana  6.441668e+06
14            Iowa  3.039707e+06
15          Kansas  2.824757e+06
16        Kentucky  4.304390e+06
17       Louisiana  4.542117e+06
18           Maine  1.319761e+06
19        Maryland  5.756214e+06
20   Massachusetts  6.626926e+06
21        Michigan  9.983511e+06
22       Minnesota  5.304292e+06
23     Mississippi  2.939613e+06
24        Missouri  5.939509e+06
25         Montana  9.861953e+05
26        Nebraska  1.822144e+06
27          Nevada  2.634878e+06
28   New Hampshire  1.316752e+06
29      New Jersey  8.732166e+06
30      New Mexico  2.002915e+06
31        New York  1.942163e+07
32  North Carolina  9.399692e+06
33    North Dakota  6.882997e+05
34            Ohio  1.154573e+07
35        Oklahoma  3.723940e+06
36          Oregon  3.836634e+06
37    Pennsylvania  1.260866e+07
38    Rhode Island  1.059673e+06
39  South Carolina  4.597851e+06
40    South Dakota  8.194224e+05
41       Tennessee  6.311284e+06
42           Texas  2.516814e+07
43            Utah  2.759852e+06
44         Vermont  6.215199e+05
45        Virginia  7.938578e+06
46      Washington  6.752426e+06
47   West Virginia  1.820323e+06
48       Wisconsin  5.648552e+06
49         Wyoming  5.462849e+05

In [28]:
# convert population to integer instead of scientific notation
average_population['population'] = average_population['population'].astype(int)
average_population

        state_name  population
0          Alabama     4711328
1           Alaska      698952
2          Arizona     6399572
3         Arkansas     2881606
4       California    37182082
5         Colorado     5069309
6      Connecticut     3528261
7         Delaware      890901
8          Florida    18921800
9          Georgia     9644946
10          Hawaii     1332802
11           Idaho     1552118
12        Illinois    12735729
13         Indiana     6441667
14            Iowa     3039706
15          Kansas     2824757
16        Kentucky     4304390
17       Louisiana     4542116
18           Maine     1319761
19        Maryland     5756214
20   Massachusetts     6626925
21        Michigan     9983511
22       Minnesota     5304291
23     Mississippi     2939612
24        Missouri     5939509
25         Montana      986195
26        Nebraska     1822143
27          Nevada     2634878
28   New Hampshire     1316751
29      New Jersey     8732166
30      New Mexico     2002915
31        New York    19421632
32  North Carolina     9399691
33    North Dakota      688299
34            Ohio    11545734
35        Oklahoma     3723940
36          Oregon     3836633
37    Pennsylvania    12608662
38    Rhode Island     1059672
39  South Carolina     4597851
40    South Dakota      819422
41       Tennessee     6311283
42           Texas    25168139
43            Utah     2759851
44         Vermont      621519
45        Virginia     7938578
46      Washington     6752426
47   West Virginia     1820323
48       Wisconsin     5648552
49         Wyoming      546284

In [29]:
# rename the population column to average_population
average_population = average_population.rename(columns={'population': 'average_population'})
average_population

        state_name  average_population
0          Alabama             4711328
1           Alaska              698952
2          Arizona             6399572
3         Arkansas             2881606
4       California            37182082
5         Colorado             5069309
6      Connecticut             3528261
7         Delaware              890901
8          Florida            18921800
9          Georgia             9644946
10          Hawaii             1332802
11           Idaho             1552118
12        Illinois            12735729
13         Indiana             6441667
14            Iowa             3039706
15          Kansas             2824757
16        Kentucky             4304390
17       Louisiana             4542116
18           Maine             1319761
19        Maryland             5756214
20   Massachusetts             6626925
21        Michigan             9983511
22       Minnesota             5304291
23     Mississippi             2939612
24        Missouri             5939509
25         Montana              986195
26        Nebraska             1822143
27          Nevada             2634878
28   New Hampshire             1316751
29      New Jersey             8732166
30      New Mexico             2002915
31        New York            19421632
32  North Carolina             9399691
33    North Dakota              688299
34            Ohio            11545734
35        Oklahoma             3723940
36          Oregon             3836633
37    Pennsylvania            12608662
38    Rhode Island             1059672
39  South Carolina             4597851
40    South Dakota              819422
41       Tennessee             6311283
42           Texas            25168139
43            Utah             2759851
44         Vermont              621519
45        Virginia             7938578
46      Washington             6752426
47   West Virginia             1820323
48       Wisconsin             5648552
49         Wyoming              546284

In [30]:
# read in the cleaned hate_crime data
hate_crime = pd.read_csv('./models/data/cleaned_hate_crime_forecasting.csv')
hate_crime

,incident_date,region_name,offender_race,state_name,bias_desc,grouped_total_offender_count,grouped_victim_count,generalized_offense_name,generalized_location_name
0,1991-01-01,Midwest,White,Minnesota,['Anti-Black or African American'],Few,Few,violent crimes,Residence
1,1991-01-01,Northeast,White,Pennsylvania,['Anti-Black or African American'],Few,Few,violent crimes,Miscellaneous
2,1991-01-01,Northeast,White,New York,['Anti-White'],Few,Few,violent crimes,Miscellaneous
3,1991-01-01,South,Black or African American,Maryland,['Anti-White'],Several,Few,violent crimes,Public Place
4,1991-01-01,Northeast,Black or African American,New York,['Anti-White'],Few,Few,violent crimes,Miscellaneous
...,...,...,...,...,...,...,...,...,...
134434,2022-12-31,South,Black or African American,Texas,['Anti-Gay Male'],Few,Few,violent crimes,Residence
134435,2022-12-31,West,Black or African American,California,['Anti-Gay Male'],Few,Few,violent crimes,Law Enforcement
134436,2022-12-31,West,White,Colorado,['Anti-Black or African American'],Few,Few,violent crimes,Public Place
134437,2022-12-31,Northeast,White,New Jersey,['Anti-Black or African American'],Few,Few,violent crimes,Residence
134438,2022-12-31,West,White,Colorado,['Anti-Black or African American'],Few,Few,violent crimes,Residence

In [31]:
# find the number of hate crimes per state
df_state = hate_crime.groupby('state_name').size().reset_index(name='number_of_incidents')
df_state

              state_name  number_of_incidents
0                Alabama                  491
1                 Alaska                  181
2                Arizona                 4441
3               Arkansas                  795
4             California                23508
5               Colorado                 3284
6            Connecticut                 1936
7               Delaware                  421
8   District of Columbia                 1362
9                Federal                   83
10               Florida                 3451
11               Georgia                 1053
12                  Guam                   14
13                Hawaii                  139
14                 Idaho                  835
15              Illinois                 3922
16               Indiana                 1512
17                  Iowa                  630
18                Kansas                 1371
19              Kentucky                 2214
20             Louisiana                  624
21                 Maine                 1008
22              Maryland                 2554
23         Massachusetts                 6412
24              Michigan                 8224
25             Minnesota                 3481
26           Mississippi                  179
27              Missouri                 2472
28               Montana                  419
29              Nebraska                  715
30                Nevada                 1373
31         New Hampshire                  368
32            New Jersey                 8725
33            New Mexico                  449
34              New York                 7254
35        North Carolina                 2036
36          North Dakota                  310
37                  Ohio                 6157
38              Oklahoma                 1046
39                Oregon                 3062
40          Pennsylvania                 2262
41          Rhode Island                  387
42        South Carolina                 1477
43          South Dakota                  393
44             Tennessee                 2931
45                 Texas                 6546
46                  Utah                 1031
47               Vermont                  331
48              Virginia                 2958
49            Washington                 5564
50         West Virginia                  700
51             Wisconsin                 1218
52               Wyoming                  130

In [32]:
# merge the average population with the number of hate crimes
df_state = pd.merge(df_state, average_population, on='state_name')
df_state

        state_name  number_of_incidents  average_population
0          Alabama                  491             4711328
1           Alaska                  181              698952
2          Arizona                 4441             6399572
3         Arkansas                  795             2881606
4       California                23508            37182082
5         Colorado                 3284             5069309
6      Connecticut                 1936             3528261
7         Delaware                  421              890901
8          Florida                 3451            18921800
9          Georgia                 1053             9644946
10          Hawaii                  139             1332802
11           Idaho                  835             1552118
12        Illinois                 3922            12735729
13         Indiana                 1512             6441667
14            Iowa                  630             3039706
15          Kansas                 1371             2824757
16        Kentucky                 2214             4304390
17       Louisiana                  624             4542116
18           Maine                 1008             1319761
19        Maryland                 2554             5756214
20   Massachusetts                 6412             6626925
21        Michigan                 8224             9983511
22       Minnesota                 3481             5304291
23     Mississippi                  179             2939612
24        Missouri                 2472             5939509
25         Montana                  419              986195
26        Nebraska                  715             1822143
27          Nevada                 1373             2634878
28   New Hampshire                  368             1316751
29      New Jersey                 8725             8732166
30      New Mexico                  449             2002915
31        New York                 7254            19421632
32  North Carolina                 2036             9399691
33    North Dakota                  310              688299
34            Ohio                 6157            11545734
35        Oklahoma                 1046             3723940
36          Oregon                 3062             3836633
37    Pennsylvania                 2262            12608662
38    Rhode Island                  387             1059672
39  South Carolina                 1477             4597851
40    South Dakota                  393              819422
41       Tennessee                 2931             6311283
42           Texas                 6546            25168139
43            Utah                 1031             2759851
44         Vermont                  331              621519
45        Virginia                 2958             7938578
46      Washington                 5564             6752426
47   West Virginia                  700             1820323
48       Wisconsin                 1218             5648552
49         Wyoming                  130              546284

In [34]:
# find the number of hate crimes per 100,000 people in each state and add it as a new column
df_state['average_hate_crimes_per_100k'] = df_state['number_of_incidents'] / df_state['average_population'] * 100000
df_state

,state_name,number_of_incidents,average_population,average_hate_crimes_per_100k
0,Alabama,491,4711328,10.421690
1,Alaska,181,698952,25.895913
2,Arizona,4441,6399572,69.395266
3,Arkansas,795,2881606,27.588782
4,California,23508,37182082,63.224001
5,Colorado,3284,5069309,64.782005
6,Connecticut,1936,3528261,54.871224
7,Delaware,421,890901,47.255531
8,Florida,3451,18921800,18.238223
9,Georgia,1053,9644946,10.917635
10,Hawaii,139,1332802,10.429156
11,Idaho,835,1552118,53.797456
12,Illinois,3922,12735729,30.795253
13,Indiana,1512,6441667,23.472185
14,Iowa,630,3039706,20.725689
15,Kansas,1371,2824757,48.535148
16,Kentucky,2214,4304390,51.435860
17,Louisiana,624,4542116,13.738090
18,Maine,1008,1319761,76.377465
19,Maryland,2554,5756214,44.369441
20,Massachusetts,6412,6626925,96.756791
21,Michigan,8224,9983511,82.375830
22,Minnesota,3481,5304291,65.626113
23,Mississippi,179,2939612,6.089239
24,Missouri,2472,5939509,41.619602
25,Montana,419,986195,42.486526
26,Nebraska,715,1822143,39.239511
27,Nevada,1373,2634878,52.108674
28,New Hampshire,368,1316751,27.947577
29,New Jersey,8725,8732166,99.917936
30,New Mexico,449,2002915,22.417327
31,New York,7254,19421632,37.350105
32,North Carolina,2036,9399691,21.660286
33,North Dakota,310,688299,45.038566
34,Ohio,6157,11545734,53.327056
35,Oklahoma,1046,3723940,28.088530
36,Oregon,3062,3836633,79.809562
37,Pennsylvania,2262,12608662,17.940048
38,Rhode Island,387,1059672,36.520735
39,South Carolina,1477,4597851,32.123703
40,South Dakota,393,819422,47.960636
41,Tennessee,2931,6311283,46.440637
42,Texas,6546,25168139,26.009074
43,Utah,1031,2759851,37.357089
44,Vermont,331,621519,53.256618
45,Virginia,2958,7938578,37.261081
46,Washington,5564,6752426,82.400014
47,West Virginia,700,1820323,38.454714
48,Wisconsin,1218,5648552,21.563048
49,Wyoming,130,546284,23.797146

In [35]:
# save the data to a csv file
df_state.to_csv('hate_crime_per_100k.csv', index=False)